{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "linebreak-style": "off",
    "object-curly-newline": "off",
    "react/no-unescaped-entities": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}
